body 
{
   display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: calibri;
    color: #fff;
    padding: 0;
    margin: 0;
}

h2{
    font-weight: bolder;
}

header
{
    padding-right: 50px;
    display: flex;
    background-color: rgb(27, 27, 27);
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

nav 
{
    align-items: center;
    display: flex;
}

header li a:hover{
    color: blanchedalmond;
}

ul 
{
    margin: 0px;
    padding: 0px;
    display: flex;
    list-style: none;
}

a 
{
    text-decoration: none;
    color: #fff;
    margin-left: 30px;
}

.logo 
{
    display: flex;
    align-items: center;
    height: 80px;
}

h2 {
    margin: 0px;
}

main 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content 
{
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 150%;
    background-image: url(../img/bgcolor2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: default;
}

.content h2
{
    font-size: 300%;
    margin-bottom: 40px;
}
.content p 
{
    font-size: 125%;
}

.prods
{
    height: 600px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #444444;
}

.prods img{
    height: 100px;
    width: 100px;
}

.prods ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.prods li
{
    border: 3px solid #444444;
    height: 300px;
    width: 300px;
    margin-right: 60px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: default;
}

.prods p{
    margin: 30px;
    text-align: center;
}

.about{
    height: 500px;
    background-color: #a3a3a3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(27, 27, 27);
}

section h2{
    font-size: 200%;
}

section p{
    font-size: 140%;
    margin-bottom: 0px;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    height: 400px;
    color: #444444;
}

.twosides{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}

.left {
    display: flex;
    flex-direction: column;
    margin-right: 200px;
}

.left input{
    height: 24pt;
    width: 350px;
    border: #a3a3a3 solid 2px;
    background-color: #fff;
}

.left button{
    -webkit-appearance: none;
        -moz-appearance: none;
            appearance: none;
    height: 24pt;
    width: 358px;
    border: #a3a3a3 solid 2px;
    background-color: #fff;
    color: #444444;
}

.left button:hover {
    height: 24pt;
    width: 358px;
    border: #a3a3a3 solid 2px;
    background-color: #c4c4c4;
    color: #444444;
}

.left input{
    margin-bottom: 5px;
}

.right ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}

.right li{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    align-items: flex-end;
}

.right img {
    height: 30px;
    margin-right: 40px;
}

.right a{
    color: #444444;
    text-align: center;
}

footer 
{
    display: flex;
    flex-direction: row;
    background-color: rgb(27, 27, 27);
    height: 80px;
    justify-content: center;
    align-items: center;
}

footer span 
{
    height: 20px;
    margin: 0px;
    margin-right: 20px;
    margin-left: 20px;
}

.tab{
    max-width: 1920px;
    margin: 0 60px;
}

@media (max-width: 1600px) {
    .prods {
        height: 950px;
    }
}

@media (max-width: 1080px) {
    body {
        zoom: 175%;
    }
    .tab{
        width: auto;
    }
    .prods ul{
        flex-direction: column;
        align-items: center;
    }
    .prods{
        height: 1600px;
    }
    .twosides{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .contact {
        height: 600px;
    }
    .prods li{
        margin-right: 0%;
    }
    .content{
        height: 1000px;
    }
    .tab{
        margin: 0 25px;
    }
    h2{
        text-align: center;
    }
    h1{
        text-align: center;
    }
    p{
        text-align: center;
    }
    .about{
        height: 700px;
    }
    .left{
        margin-right: 0;
        margin-bottom: 60px;
    }
    header{
        padding-right: 25px;
    }
}
