body 
{
   display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: calibri;
    color: #fff;
    padding: 0;
    margin: 0;
}

h2{
    font-weight: bolder;
}

header
{
    padding-right: 50px;
    display: flex;
    background-color: rgb(27, 27, 27);
    height: 100px;
    justify-content: space-between;
}
.head 
{
    display: flex;
}

nav 
{
    align-items: center;
    display: flex;
}

ul 
{
    margin: 0px;
    padding: 0px;
    display: flex;
    list-style: none;
}

a 
{
    text-decoration: none;
    color: #fff;
    margin-left: 30px;
}

.logo 
{
    display: flex;
    align-items: center;
    height: 80px;
}

h2 {
    margin: 0px;
}

main 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content 
{
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 150%;
    background-image: url(../img/bgcolor2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.content h2
{
    font-size: 300%;
    margin-bottom: 40px;
}
.content p 
{
    font-size: 125%;
}

.prods
{
    height: 600px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #444444;
}

.prods img{
    height: 130px;
    width: 130px;
}

.prods li
{
    border: 4px solid #444444;
    height: 300px;
    width: 300px;
    margin-right: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-weight: bold;
}

.prods p{
    margin: 30px;
    text-align: center;
}

.about{
    height: 500px;
    background-color: #a3a3a3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(27, 27, 27);
}

section h2{
    font-size: 200%;
}

section p{
    font-size: 140%;
    margin-bottom: 0px;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    height: 400px;
    color: #444444;
}

.twosides{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}

.left {
    display: flex;
    flex-direction: column;
    margin-right: 200px;
}

.left input{
    height: 24pt;
    width: 350px;
    border: #a3a3a3 solid 2px;
    background-color: #fff;
}

.left button{
    -webkit-appearance: none;
        -moz-appearance: none;
            appearance: none;
    height: 24pt;
    width: 358px;
    border: #a3a3a3 solid 2px;
    background-color: #fff;
    color: #444444;
}

.left button:hover {
    height: 24pt;
    width: 358px;
    border: #a3a3a3 solid 2px;
    background-color: #c4c4c4;
    color: #444444;
}

.left input{
    margin-bottom: 5px;
}

.right ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}

.right li{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.right img {
    height: 30px;
    margin-right: 40px;
}

footer 
{
    display: flex;
    background-color: rgb(27, 27, 27);
    height: 80px;
    justify-content: center;
    align-items: center;
}

footer p 
{
    height: 20px;
    margin: 0px;
    margin-right: 20px;
    margin-left: 20px;
}

.tab{
    padding-left: 60px;
    padding-right: 60px;
}
